@media (min-width:1073px) and (max-width: 1115px) {
  .cell-phone-img {left: 15.1em;}
  .small-spiral {left: 58em;}
}

@media (min-width: 768px) and (max-width:1076px) {
  body {font-size: 1em;}
  main {height: 720.73px;}
  #header-top {padding: 37px 39px; max-width: 689px; height: auto; margin: 0 auto;}
  #initial-logo, .access {margin: 0;}
  #initial-logo {max-width: 95.76px; height: 24.61px;}
  #container-purple {height: 540.24px;}
  .call-for-page {max-width: 573px; height: 215px;}
  .call-for-page h1 {line-height: 67px; padding-bottom: 38px; max-width: 573px; 
    height: 121px; font-size: 3.75em;}
  .big-spiral {left: -9.4em; max-width: 270.29px; height: 215.1px;}
  .small-spiral {left: 44.05em; width: 141.7px; height: 112.71px;}
  .cell-phone-img {top: 24.87em; left: 11.68em; max-width: 470.44px; height: 271.84px;}
  #container-services {flex-direction: column; text-align: start; gap: 50px 0; padding: 0 97px;}
  .button-services {max-width: 573px; height: 108px; display: flex; align-items: center; justify-content: center;}
  .call-services {font-size: 1.75em; padding:0 1.2em;}
  .text-services {max-width: 493px; font-size: 0.9em; line-height: 28px; padding:1em 2.2em;}
  #invitation-content {max-width: 689px; height: 526px;}
  .img-founder img {width: 281px; height: 281px;}
  .content-position {width: 514px; height: 375px; left: 168px; top: 10.36em;}
  .invitation p {font-size: 1em;}
  .invitation h2 {font-size: 2.9em;}
  .spiral-invitation-content {left: 18em; top: 19.25em;}
}

@media (min-width: 320px) and (max-width:766px) {
  #container-purple {height: 481px;}
  #header-top {margin-bottom: 3.5em;}
  .header-curve {box-shadow: none;}
  #spiral-images {display: none;}
  #initial-logo {margin: 2em 1em; width: 95.76px; height: 24.61px;}
  .access {margin: 2em 1em 0 0; font-size: 1em;}
  .call-for-page h1 {font-size: 3.12em; line-height: 57px;}
  .click-to-learn { margin-top: 2.5em;}
  .cell-phone-img {max-width: 320px; height: 184px; left: 2.87em; top: 26.56em;}
  main {height: 1050.71px;}
  #container-services {flex-direction: column;}
  .button-services {margin: 2.5em 1em;}
  .circle {margin: 1.43em auto;}
  .call-services {font-size: 1.7em;}
  .text-services {font-size: 1em;}
  #invitation-content {height: 603px}
  .content-position {width: 343px; top: 14.37em; left: 2.68em;}
  .img-founder {margin: 0 auto; width: 290px; height: 290px;}
  .img-founder img {height: 281px;}
  .invitation {text-align: center; padding: 0 1.93em; height: 375px;}
  .invitation h2 {font-size: 1.8em; margin: 0;}
  .invitation p {padding-top: 1em; font-size: 1em; max-width: 281px;}
  .spiral-invitation-content {display: none;}
  .access-test {margin: 1.25em auto; height: 50px;}
  footer {margin: 4.62em auto;}
}

@media (max-width:386px) {
  body {font-size: 0.83em;}
  .cell-phone-img {max-width: 220px; height: 144px;}
  .content-position {width: 293px; left: 0.81em;}
  .invitation p {font-size: 0.8em; width: 181px;}
}