* {margin: 0; padding: 0; box-sizing: border-box;}

@font-face {
  font-family: Fraunces;
  src: url(../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: Manrope;
  src: url(../assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

:root {
  --container-purple: #24053E;
  --background-invitation: #584D62;
  --background-container-invitation: #FCF8FF;
  --background-page: #ffff;
  --decoration-color: #44FFA1;
}

::-webkit-scrollbar {
  display: none;
}

.btn {
  color: var(--container-purple);
  background-color: var(--decoration-color);
  font-size: 1.11em;
  height: 61px;
}

.underline {
  border-bottom: 3px solid var(--decoration-color);
  padding-bottom: 1px;
}

body {
  background-color: var(--background-page);
  width: 100%;
  min-height: 100vh;
  font-family: Manrope, serif;
}

#header-top {
  margin-bottom: 4.5em;
  display: flex;
  justify-content: space-between;
}

#initial-logo {
  width: 95.76px;
  height: 24.60px;
}

#initial-logo, .access {
  margin-top: 3.53em;
  margin-left: 10.31em;
}

.access {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 10.31em;
}

.access a { 
  color: var(--background-page);
  text-decoration: none;
}

#call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-for-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  max-width: 635px;
  max-height: 268px;
}

.call-for-page h1 {
  font-family: Fraunces, serif;
  font-size: 5em;
  font-weight: 600;
  text-align: center;
  line-height: 86px;
  color: var(--background-page);
  margin: 2px;
}

.click-to-learn {
  margin-top: 1.1em;
  width: 161px;
  font-weight: 600;
  border: none;
}

#container-purple {
  background-color: var(--container-purple);
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.header-curve, .light-pink-curve {
  height: 29px;
  width: 100%;
  background-color: var(--container-purple);
  border-radius: 0 0 140% 140%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.cell-phone-img {
  position: absolute;
  left: 371px;
  top: 476px;
  width: 100%;
  max-width: 715px;
  height: 427.5px;
}

#spiral-images {
  position: relative;
  width: 100%;
}

.big-spiral {
  position: absolute;
  left: -7.5em;
  bottom: -18.3em;
}

.small-spiral {
  position: absolute;
  left: 87.08em;
  top: 12.40em;
}

main {
  background-color: #FCF8FF;
  height: 720.73px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

#container-services {
  text-align: center;
  display: flex;
  gap: 0 1.62em;
  justify-content: center;
  width: 100%;
  max-width: 1114px;
  max-height: 408px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.9em auto;
  width: 56px;
  height: 56px;
  border: 1px solid #584D62;
  border-radius: 50%;
}

.circle a {
  text-decoration: none;
}

.call-services {
  font-family: Fraunces, serif;
  font-weight: 600;
  font-size: 2em;
}

.text-services {
  width: 100%;
  max-width: 354px;
  padding-top: 0.7em;
  font-weight: 400;
  font-size: 1.12em;
  line-height: 2em;
}

.light-pink-curve {
  background-color: #FCF8FF;
  box-shadow: none;
}


#invitation-to-test {
  width: 100%;
  max-width: 1112px;
  max-height: 647.74px;
  display: flex;
}

.img-founder {
  width: 100%;
  max-width: 477px;
  max-height: 477px;
}

.img-founder img {
  width: 100%;
}

.invitation {
  color: var(--background-page);
  background-color: var(--container-purple);
  width: 100%;
  max-width: 730px;
  max-height: 413px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.access-test {
  width: 190px;
}
