* {margin: 0; padding: 0; box-sizing: border-box;}

@font-face {
  font-family: Fraunces;
  src: url(../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: Manrope;
  src: url(../assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

:root {
  --container-purple: #24053E;
  --background-invitation: #584D62;
  --background-container-invitation: #FCF8FF;
  --background-white: #ffff;
  --decoration-color: #44FFA1;
}

::-webkit-scrollbar {
  display: none;
}

.btn {
  color: var(--container-purple);
  background-color: var(--decoration-color);
  font-size: 1.11em;
  height: 61px;
  cursor: pointer;
}
.btn:hover {
  color: var(--decoration-color);
  background-color: transparent;
  border: 1px solid var(--decoration-color);
}

.btn-apply {cursor: pointer;}
.btn-apply:hover {color: var(--decoration-color);}

.underline {
  border-bottom: 3px solid var(--decoration-color);
}

body {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  font-family: Manrope, serif;
}

#header-top {
  margin-bottom: 3.2em;
  display: flex;
  justify-content: space-between;
}

#initial-logo {
  width: 100%;
  max-width: 95.76px;
  height: 24.60px;
}

#initial-logo, .access {
  margin-top: 3.53em;
  margin-left: 10.31em;
}

.access {
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 10.31em;
}

.access a { 
  color: var(--background-white);
  text-decoration: none;
}

#call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-for-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0.31em;
  max-width: 635px;
  max-height: 278px;
}

.call-for-page h1 {
  font-family: Fraunces, serif;
  font-size: 5em;
  font-weight: 600;
  text-align: center;
  line-height: 86px;
  color: var(--background-white);
  margin: 0.12em;
}

.click-to-learn {
  margin-top: 1.1em;
  width: 161px;
  font-weight: 600;
  border: none;
}

#container-purple {
  background-color: var(--container-purple);
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.header-curve, .light-pink-curve {
  height: 30px;
  width: 100%;
  background-color: var(--container-purple);
  border-radius: 0 0 140% 140%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cell-phone-img {
  position: absolute;
  left: 23.18em;
  top: 30em;
  width: 100%;
  max-width: 715px;
  height: 427.5px;
}

#spiral-images {
  position: relative;
  width: 100%;
  max-width: 1440px;
}

.big-spiral {
  position: absolute;
  left: -7.5em;
  bottom: -18.3em;
}

.small-spiral {
  position: absolute;
  left: 77.49em;
  top: 12.20em;
}

main {
  background-color: #FCF8FF;
  height: 750.73px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

#container-services {
  padding-top: 5.62em;
  text-align: center;
  display: flex;
  gap: 0 1.62em;
  justify-content: center;
  width: 100%;
  max-width: 1114px;
  max-height: 408px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.9em auto;
  width: 56px;
  height: 56px;
  border: 1px solid #584D62;
  cursor: pointer;
  border-radius: 50%;
}

.circle a {
  text-decoration: none;
  font-family: Fraunces, serif;
  font-weight: 600;
  font-size: 1.5em;
  color: var(--container-purple);
}

.call-services {
  font-family: Fraunces, serif;
  font-weight: 600;
  font-size: 2em;
}

.text-services {
  width: 100%;
  max-width: 354px;
  padding-top: 0.8em;
  font-weight: 400;
  font-size: 1.12em;
  line-height: 2em;
}

.light-pink-curve {
  background-color: #FCF8FF;
  box-shadow: none;
}


#invitation-content {
  margin: 6.87em auto;
  width: 100%;
  max-width: 1112px;
  max-height: 647.74px;
  position: relative;
}

.img-founder {
  width: 100%;
  max-width: 477px;
  max-height: 477px;
}

.img-founder img {
  width: 100%;
  max-width: 450.29px;
  height: 453px;
}

.content-position {
  position: absolute;
  left: 22.68em;
  top: 9.37em;
  z-index: 2;
}

.invitation {
  padding: 1.87em 4em;
  color: var(--background-white);
  background-color: var(--container-purple);
  width: 100%;
  max-width: 730px;
  max-height: 413px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invitation h2 {
  font-family: Fraunces, serif;
  font-weight: 600;
  font-size: 56px;
  margin: 0.5em 0;
}

.invitation p {
  width: 100%;
  max-width: 602px;
  line-height: 32px;
  font-size: 18px;
  font-weight: 400px;
}

.access-test {
  width: 190px;
  margin: 2em 0;
  font-weight: 700;
  border: none;
}

.spiral-invitation-content {
  position: absolute;
  left: 27em;
  top: 16.25em;
}

footer {
  margin-top: 11.25em;
  margin-bottom: 6.87em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
}

.social-media {
  width: 116px;
  display: flex;
  justify-content: space-between;
}
.social-media a svg:hover path {
  fill: var(--container-purple);
}

